<nav class="navbar navbar-static-top">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="main-menu" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">首页</a></li>
        <li><a ng-href="#">HTML/CSS</a></li>
        <li><a ng-href="#">Javascript</a></li>
        <li><a ng-href="#">Jquery</a></li>
        <li><a ng-href="#">angularJs</a></li>
        <li><a ng-href="#">Bootstrop</a></li>
        <li><a ng-href="#">git</a></li>
        <li><a ng-href="#">github</a></li>
        <li><a ng-href="#">关于本站</a></li>
      </ul>
    </div>
</nav>
